doctype html
html
  head
    script(src='/lib/angular/angular.js')
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.css')
    title=pageTitle
  body.container
    h1 Home page
    a.btn.btn-primary(href="/signup") Sign Up
    &nbsp;
    a.btn.btn-primary(href="/signin") Sign In
