<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= pageTitle %></title>
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="col-md-4 col-md-offset-4">
      <!-- Display flash messages  -->
    <% for(var i in messages) { %>
       <div class="flash"><%= messages[i] %></div>
    <% } %>

    <!-- Render the signin form  -->
    <form action="/signin" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Password	:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Sign In" />
      </div>
    </form>
  </div>
</body>
</html>
